<!--les produits-->
<div class="mt-4 ProduitsDiv" *ngIf="product">
  <!--error on get artist-->
  <div *ngIf="errorArtisteMessage" class="alert alert-dark alert-dismissible fade show" role="alert">
    {{errorArtisteMessage}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <!--alert admin-->
  <div *ngIf="adminMessage" class="container mx-auto alert alert-dark alert-dismissible fade show" role="alert" style="max-width: 700px;">
    {{adminMessage}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <!--row-->
  <div class="p-3 row row-cols-1 row-cols-lg-2 g-2 g-lg-4">
      <!--column image-->
      <div  class="col">
          <div class="box bg-body shadow-sm border">
              <img [src]="product.image" class="img-fluid" alt="...">
          </div>
      </div>
      <!--column detail list-->
      <div class="col bg-body shadow border">
        <!--list de detail-->
        <ul class="list-group list-group-flush">
          <li class="list-group-item">NOM : {{product.produit}}</li>
          <li class="list-group-item">FORMAT : {{product.format}}</li>
          <li class="list-group-item">TYPE : {{product.type_produit}}</li>
          <li class="list-group-item">ANNEE : {{product.annee}}</li>
          <li *ngIf="artist" class="list-group-item">ARTISTE : {{artist.prenom}}  {{artist.nom}}</li>
          <li class="list-group-item">STOCK : {{product.stock}}</li>
          <h4 class="price">{{product.prix  | currency:'EUR' }}</h4>
          <div class="popup mx-auto" (click)="popup(product._id)">
            <button class="btn boutonDark mx-auto" (click)="addToCart(product)">Ajouter au panier</button>
            <span class="popuptext" [id]="product._id">produit ajouté au panier !</span>
          </div>
          <button class="btn" type="button" (click)="addToFavoris(product._id,product)" data-bs-toggle="offcanvas" href="#offcanvasFavoris" aria-controls="offcanvasFavoris"><i class="bi bi-emoji-heart-eyes mx-auto pt-3"></i></button>
          <app-favoris></app-favoris>
          <!-- if admin-->
          <div class="btn-group pt-2" role="group" *ngIf="isAdmin">
            <button  type="button" class="btn boutonDark" [routerLink]="['/edit-product', product._id]">Modifier</button>
            <button  type="button" class="btn boutonDark" data-bs-toggle="modal" [attr.data-bs-target]="'#delete-product-'+product._id">Supprimer</button>
            <app-delete-product-modal [product]="product"></app-delete-product-modal>
          </div>
        </ul>
      </div>
  </div>
</div>

