<p>add-todo works!</p>

{{todo | json}}
<form #LeNomQueJeVeux="ngForm">
  <div class="form-group">
      <label for=""> Name</label>
      <input class="form-control m-1" type="text"
      name="name"
      [(ngModel)]="todo.name"
      required/>
  </div>
  <div class="form-group">
    <label for=""> todoStatus</label>
    <input class="form-control m-1" type="text"
    name="todoStatus"
    [(ngModel)]="todo.todoStatus"
    required/>
</div>
<div class="form-group">
  <label for=""> isModif</label>
  <select class="form-control m-1"
  name="isModif"
  [(ngModel)]="todo.isModif"
  required>
    <option value="true"> En cours</option>
    <option value="false"> Terminée</option>
  </select>
</div>
<button (click)="onSubmit()"
 [disabled]="!LeNomQueJeVeux.form.valid"
  type="button"
   class="btn btn-success btn-lg">
   ajouter</button>
</form>
