<mat-spinner class="mx-auto" *ngIf="loading" style="margin-top: 100px; margin-bottom:100px;"></mat-spinner>
<div class="container" *ngIf="!loading">
  <!--titre-->
  <h3><strong>Informations personnelles</strong></h3>
  <hr class="bg-gradient bg-dark hrHeader" style="width: 60%; height:0.5px;">
  <!--signin-->
  <div class = "signin">
    Déjà client - ?<a class="px-2" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">cliquez ici pour saisir vos identifiants</a>
  </div>
  <app-signin></app-signin>
  <hr class="bg-gradient bg-dark hrHeader" style="width: 60%; height:0.5px;">
  <!--signup form-->
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">

    <!--alert sign up error -->
    <div *ngIf="errorMessage" class="container mx-auto alert alert-dark alert-dismissible fade show" role="alert" style="max-width: 700px;">
      {{errorMessage}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <!-- first name-->
    <div class="mb-3 form-group">
      <label for="firstname" class="form-label">Veuillez Saisir votre prénom :</label>
      <input type="text" class="form-control" id="firstname" placeholder="votre prénom (optionnel)"
        name="firstname"
        formControlName="firstname" >
    </div>

    <div class="mb-3 form-group">
      <label for="lastname" class="form-label">Veuillez Saisir votre nom :</label>
      <input type="text" class="form-control" id="lastname" placeholder="votre nom (optionnel)"
        name="lastname"
        formControlName="lastname"
        >
    </div>

    <div class="mb-3 form-group">
      <label for="mailInout" class="form-label">Email address</label>
      <input type="email" class="form-control" id="mailInput" aria-describedby="emailHelp" placeholder="email@gmail.com"
      name="email"
      formControlName="email">

    </div>

    <div class="mb-3 form-group">
      <label for="passwordSignUp" class="form-label">Password</label>
      <input type="password" class="form-control" id="passwordSignUp"
      name="password"
      formControlName="password">
      <div id="passwordCaractere" class="form-text">le mote de passe doit contenir au moins 6 caractères, soyez créatifs :-</div>
    </div>


    <button class="btn boutonDark " [disabled]="signUpForm.invalid">Créer mon compte</button>
  </form>
</div>
