.container{
  border-style: dashed;
  border: 1px solid black;
}

.hrHeader{
  margin-left: 20%;
}

h3{
  text-align: center;
  padding-top: 3%;
}

form{
  padding-top: 1%;
  padding-bottom: 10%;
  padding-left: 20%;
  padding-right: 20%;
}

.signin{
  padding-top: 1%;
  text-align: center;
}

a{
  text-decoration: none;
  color: black;
}

a:hover {
  border-bottom: 1px solid black;
}

.boutonDark{
  background-color: black;
  color: white;
  width: 100%;
}
