<mat-spinner class="mx-auto" *ngIf="loading" style="margin-top: 100px; margin-bottom:100px;"></mat-spinner>
<div class="container" *ngIf="!loading">
  <!--titre-->
  <h3><strong>Informations personnelles</strong></h3>
  <hr class="bg-gradient bg-dark hrHeader" style="width: 60%; height:0.5px;">
  <!--signin-->
  <div class = "signin">
    Déjà client - ?<a class="px-2" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">cliquez ici pour saisir vos identifiants</a>
  </div>
  <app-signin></app-signin>
  <hr class="bg-gradient bg-dark hrHeader" style="width: 60%; height:0.5px;">
  <!--signup form-->
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <!--alert-->
    <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>

    <div class="mb-3 form-group">
      <label for="formGroupExampleInput" class="form-label">Veuillez Saisissez votre prénom :</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="votre prénom (optionnel)"
        name="firstname"
        formControlName="firstname" >
    </div>

    <div class="mb-3 form-group">
      <label for="formGroupExampleInput2" class="form-label">Veuillez Saisissez votre nom :</label>
      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="votre nom (optionnel)"
        name="lastname"
        formControlName="lastname"
        >
    </div>

    <div class="mb-3 form-group">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
      name="email"
      formControlName="email">

    </div>

    <div class="mb-3 form-group">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1"
      name="password"
      formControlName="password">
      <div id="passwordCaractere" class="form-text">le mote de passe doit contenir au moins 6 caractères, soyez créatifs :-</div>
    </div>


    <button class="btn btn-dark" [disabled]="signUpForm.invalid">Créer mon compte</button>
  </form>
</div>
