<mat-spinner class="mx-auto" *ngIf="loading" style="margin-top: 100px; margin-bottom:100px;"></mat-spinner>
<!--les artistes-->
<div class="mt-4 ProduitsDiv">
  <!--row-->
  <div class="p-3 row row-cols-2 row-cols-lg-3 g-2 g-lg-2">
    <!--column-->
    <div *ngFor="let artist of artists" class="col" >
      <div class="card  bg-body shadow-sm border hover13" style="max-width: 23rem;">
        <!--image-->
        <div class="cursorr">
          <figure>
            <img [src]="artist.image" class="card-img-top" alt="...">
          </figure>
        </div>
        <!--card body-->
        <div class="card-body">
          <h5 class="card-title">{{artist.nom}} {{artist.prenom}}</h5>
          <p class="card-text">{{artist.descriptif}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
