.ProduitsDiv{
  /* border: 1px solid black; */
  margin : 20px;
}

.col{
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 5px;
}

img{
  padding: auto;
  max-height : 400px;
}

.desc{
  background-color: rgba(255, 228, 196, 0.646)
}

/* Flashing */
.hover13 figure:hover img {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
