<div class="container">
  <mat-spinner class="mx-auto" *ngIf="loading" style="margin-top: 100px; margin-bottom:100px;"></mat-spinner>
  <h3><strong>Ajouter une toile</strong></h3>
  <hr class="bg-gradient bg-dark hrHeader" style="width: 60%; height:0.5px;">

  <!--image-->
  <div class="mb-3 form-group pt-3" style="text-align: center;">
    <label for="image" class="form-label">choisir une image</label>
    <button type="button" (click)="filePicker.click()" class="btn boutonDark m-2">Ajouter image</button>
    <input style="display: none;" type="file" class="form-control" id="image" aria-describedby="inputGroupFileAddon04" aria-label="Upload"
    #filePicker (change)="onImagePick($event)">
  </div>

  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">

    <!--alert error-->
    <div *ngIf="errorMessage" class="container mx-auto alert alert-dark alert-dismissible fade show" role="alert" style="max-width: 700px;">
      {{errorMessage}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <!--produit-->
    <div class="mb-3 form-group">
      <label for="formGroupExampleInput" class="form-label">Veuillez Saisir le nom du produit :</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nuage"
        name="produit"
        formControlName="produit" >
    </div>
    <!--format-->
    <div class="mb-3 form-group">
      <label for="formGroupExampleInput2" class="form-label">Veuillez Saisir le format du produit</label>
      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="90x80"
        name="format"
        formControlName="format"
        >
    </div>
    <!--type produit-->
    <div class="mb-3 form-group">
      <label for="exampleInputEmail1" class="form-label">Veuillez Saisir le type du produit</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="TABLEAU"
      name="type_produit"
      formControlName="type_produit">
    </div>
    <!--prix-->
    <div class="mb-3 form-group">
      <label for="exampleInputPassword1" class="form-label">Veuillez Saisir le prix du produit</label>
      <input type="number" min="0" class="form-control" id="exampleInputPassword1" placeholder="500"
      name="prix"
      formControlName="prix">
    </div>
    <!--annee-->
    <div class="mb-3 form-group">
      <label for="annee" class="form-label">Veuillez Saisir l'annee</label>
      <input type="number" min="0" class="form-control" id="annee" placeholder="2022"
        name="annee"
        formControlName="annee"
        >
    </div>
    <!--stock-->
    <div class="mb-3 form-group">
      <label for="stock" class="form-label">Veuillez Saisir le stock</label>
      <input type="number" min="0" class="form-control" id="stock" placeholder="5"
        name="stock"
        formControlName="stock"
        >
    </div>

    <!--artiste-->
    Veullez choisir l'artiste :
    <select class="form-select" aria-label="Default select example"
    name="artistId"
    formControlName="artistId">
      <option *ngFor="let artist of artists" [value]="artist._id" selected>{{artist.prenom}} {{artist.nom}}</option>
    </select>

    <!--description-->
    <div class="form-floating">
      <textarea class="form-control" placeholder="la description du produit (optionnel)" id="floatingTextarea2" style="height: 100px"
      name="descriptif"
      formControlName="descriptif"></textarea>
      <label for="floatingTextarea2">Description</label>
    </div>

    <button class="btn boutonDark boutonSubmit" [disabled]="productForm.invalid">Ajouter le produit</button>
  </form>

    <!--preview image-->
    <div *ngIf="imagePreview" style="text-align: center;">
      <img [src]="imagePreview" alt="">
    </div>

</div>
