<div class="container">
  <mat-spinner class="mx-auto" *ngIf="loading" style="margin-top: 100px; margin-bottom:100px;"></mat-spinner>
  <h3><strong>Ajouter une toile</strong></h3>
  <hr class="bg-gradient bg-dark hrHeader" style="width: 60%; height:0.5px;">

  <!--image-->
  <div class="mb-3 form-group pt-3" style="text-align: center;">
    <label for="image" class="form-label">choisir une image</label>
    <button type="button" (click)="filePicker.click()" class="btn btn-dark m-2">Ajouter image</button>
    <input style="display: none;" type="file" class="form-control" id="image" aria-describedby="inputGroupFileAddon04" aria-label="Upload"
    #filePicker (change)="onImagePick($event)">
  </div>

  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <!--alert-->
    <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
    <!--produit-->
    <div class="mb-3 form-group">
      <label for="formGroupExampleInput" class="form-label">Veuillez Saisissez le nom du produit :</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nuage"
        name="produit"
        formControlName="produit" >
    </div>
    <!--format-->
    <div class="mb-3 form-group">
      <label for="formGroupExampleInput2" class="form-label">Veuillez Saisissez le format du produit</label>
      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="90x80..."
        name="format"
        formControlName="format"
        >
    </div>
    <!--type produit-->
    <div class="mb-3 form-group">
      <label for="exampleInputEmail1" class="form-label">Veuillez Saisissez le type du produit</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
      name="type_produit"
      formControlName="type_produit">
    </div>
    <!--prix-->
    <div class="mb-3 form-group">
      <label for="exampleInputPassword1" class="form-label">Veuillez Saisissez le prix du produit</label>
      <input type="number" class="form-control" id="exampleInputPassword1"
      name="prix"
      formControlName="prix">
    </div>
    <!--annee-->
    <div class="mb-3 form-group">
      <label for="annee" class="form-label">Veuillez Saisissez l'annee</label>
      <input type="number" class="form-control" id="annee" placeholder="artiste"
        name="annee"
        formControlName="annee"
        >
    </div>
    <!--stock-->
    <div class="mb-3 form-group">
      <label for="stock" class="form-label">Veuillez Saisissez le stock</label>
      <input type="number" class="form-control" id="stock" placeholder="5"
        name="stock"
        formControlName="stock"
        >
    </div>

    <!--artiste-->
    choisir l'artiste :
    <select class="form-select" aria-label="Default select example"
    name="artistId"
    formControlName="artistId">
      <option value="1" selected>One</option>
    </select>

    <!--description-->
    <div class="form-floating">
      <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"
      name="descriptif"
      formControlName="descriptif"></textarea>
      <label for="floatingTextarea2">Description</label>
    </div>

    <button class="btn btn-dark" [disabled]="productForm.invalid">Ajouter le produit</button>
  </form>

    <!--preview image-->
    <div *ngIf="imagePreview" style="text-align: center;">
      <img [src]="imagePreview" alt="">
    </div>

</div>
