

em{
  font-size: x-small;
}

.brand{
  padding-top: 1%;
  padding-left: 1%;
}

.hrHeader{
  margin-left: 20%;
}

a:hover {
  border-bottom: 1px solid black;
}

.adminTool a:hover{
  border-bottom: 1px solid white;
}
