<!--alert-->
<div *ngIf="errorMessage" class="container mx-auto alert alert-dark alert-dismissible fade show" role="alert" style="max-width: 700px;">
  {{errorMessage}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<!--alert-->
<div *ngIf="successMessage" class="container mx-auto alert alert-dark alert-dismissible fade show" role="alert" style="max-width: 700px;">
  {{successMessage}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<!--alert-->
<div *ngIf="adminMessage" class="container mx-auto alert alert-dark alert-dismissible fade show" role="alert" style="max-width: 700px;">
  {{adminMessage}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<!--si panier vide-->
<div *ngIf="!items.length" style="text-align: center;">
  <h4>
    Votre panier est vide ! <br/>
    <button type="button" class="btn btn-dark mt-3" routerLink="/galerie">Consulter la galerie</button>
  </h4>
</div>

<!--panier-->
<div class="mb-3 mx-auto" style="max-width: 700px; border-bottom: 1px solid black;" *ngFor="let item of items">
  <!--row item-->
  <div class="row g-0">
    <!-- item image-->
    <div class="col-md-4">
      <img [src]="item.product.image" class="img-fluid rounded-start" alt="...">
    </div>
    <!--item infos-->
    <div class="col-md-7">
      <div class="card-body">
        <h5 class="card-title">{{item.product.produit}}</h5>
        FORMAT : {{item.product.format}}<br/>
        TYPE : {{item.product.type_produit}}<br/>
        ANNEE : {{item.product.annee}}<br/>
        ARTISTE : {{item.product.artistId}}<br/>
        QUANTITE :
        <div class="p-2 d-flex justify-content-start">
          <input type="number" class="form-control" style="max-width: 60px;" value="{{item.quantity}}" disabled>
          <div class="btn-group-vertical" style="margin-left: -20px;">
            <button type="button" class="btn btn-dark" (click)="addToCart(item.product)"><i class="bi bi-plus-lg"></i></button>
            <button type="button" class="btn btn-dark" (click)="removeOne(item.product)"><i class="bi bi-dash-lg"></i></button>
          </div>
        </div>
        PRIX UNITAIRE: {{item.product.prix | currency : 'EUR'}}<br/>
        PRIX U TTC : {{item.product.prix*1.2 | currency : 'EUR'}}<br/>
        TVA : {{item.product.prix*0.2*item.quantity | currency : 'EUR'}}<br/>
        <div class="priceDiv">
          PRIX TOTAL TTC: <p class="price">{{item.product.prix*item.quantity*1.2 | currency : 'EUR'}} <i class="bi bi-check-lg"></i></p>
        </div>
      </div>
    </div>
    <!-- remove -->
    <div class="col-md-1">
      <button type="button" class="btn btn-close" aria-label="Close" (click)="removeMany(item.product)"></button>
    </div>
  </div>
</div>

<div *ngIf="resume" class="container resume">
  Quantité totale des produits : {{resume.quantity}}<br>
  Prix total HT : {{resume.costHT | currency : 'EUR'}}<br>
  Prix total Taxe : {{resume.costTaxe | currency : 'EUR'}}<br>
  Prix Total TTC : {{resume.costTTC | currency : 'EUR'}}
</div>

<div *ngIf="items.length" class="contanier payer mx-auto">
    <button (click) = "placeOrder(cart)" type="button" class="btn btn-lg" style="width: 100%;color: white;">PAYER MA COMMANDE</button>
</div>
