<div class="mb-3 mx-auto" style="max-width: 700px; border-bottom: 1px solid black;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://placeimg.com/640/480/people" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-7">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        FORMAT : <br/>
        TYPE : <br/>
        ANNEE : <br/>
        ARTISTE : <br/>
        <div class="priceDiv">
          PRIX : <p class="price">4800 € <i class="bi bi-check-lg"></i></p>
        </div>
      </div>
    </div>
    <div class="col-md-1">
      <button type="button" class="btn btn-close" aria-label="Close"></button>
    </div>
  </div>
</div>
